#root {
  width: 100%;
  height: 1vh;
  
  .converter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__section {
      width: 100%;
      height: 100%;
    }
  }
}